* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f9;
}

.container {
  display: flex;
  align-items: stretch; /* ini kunci */
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: linear-gradient(to bottom, #4a6cf7, #2c3e94);
  color: white;
  padding: 20px;

  /* ganti ini */
  min-height: 100vh;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.sidebar ul li.active {
  background: rgba(255, 255, 255, 0.3);
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

/* Topbar */
.topbar input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

/* Card */
.card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card h2 {
  margin-bottom: 5px;
}

.card p {
  margin-bottom: 20px;
  color: #666;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
}

input,
textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
  height: 100px;
}

select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
  appearance: none; /* biar lebih clean */
}

select {
  background-image: url("https://cdn-icons-png.flaticon.com/512/32/32195.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

/* Upload */
.upload-box {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
}

.upload-box button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background: #4a6cf7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Button */
.submit-btn {
  margin-top: 20px;
  padding: 12px;
  background: linear-gradient(to right, #4a6cf7, #2c3e94);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.submit-btn:hover {
  opacity: 0.9;
}
