* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f6fb;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.scroll-area {
  flex: 1;
  overflow-y: auto;
  padding: 20px 30px;
}

.content-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  color: #555;
  font-size: 14px;
}

.form-card {
  background: white;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  width: 100%; /* Lebar penuh atau sesuaikan */
  margin: 0 auto;
}

.form-header h2 {
  font-size: 24px;
  color: #333;
}
.form-header p {
  color: #888;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 15px;
}
.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  outline: none;
}

.upload-area {
  border: 2px dashed #eee;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, #4e73df, #224abe);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
